:root {
    /* Palette from https://coolors.co/palettes/trending */
    --palette-color-1: #edede9;
    --palette-color-2: #d6ccc2;
    --palette-color-3: #f5ebe0;
    --palette-color-4: #e3d5ca;
    --palette-color-5: #d5bdaf;
}
