#HeaderBar {
    display: flex;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    justify-content: flex-start;
    z-index: 998;
    transition: background-color 0.5s ease;
}

.opaque {
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
}

.opaque .DropMenuButton .bar {
    background-color: var(--secondary-color);
    transition: background-color 0.5s ease;
}
