.HeaderBar {
    display: flex;
    position: sticky;
    top: 0;
    padding: 5px;
    height: 50px;
    max-width: 100%;
    justify-content: flex-start;
    background-color: var(--primary-color);
    z-index: 998;
}
