#PageBanner {
    display: flex;
    height: min(calc(21rem + 5vw), 26rem);
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    font-size: clamp(1rem, 10vw, 2.5rem);
    z-index: 50;
}
